body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    background: linear-gradient(to top, rgb(151, 62, 211), rgb(23, 36, 216));
    color: white;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
